@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width: 480px){
  header{
    background: url(image/michael-jordan-phone.jpeg.png) no-repeat center/cover;
    height: 350px;
  }

  #frete{
    font: 500 16px "Archivo", sans-serif ;
  }

  main > h1{
  font: 380 1.8em "Archivo", sans-serif;
  text-align: center;
  margin: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

 main > p{
  width: 345px;
  font: .9em "Archivo", sans-serif;
}
  
}

@media screen and (min-width: 480px) and (max-width: 900px){
  header{
    background: url(image/michael-jordan-tablet.jpeg.png) no-repeat center/cover;
    height: 400px;
    width: 100%;
  }

  #frete{
    font: 500 18px "Archivo", sans-serif ;
  }


  main > p{
    
  }

}
    