@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #7ca2f4;

  --dark: #121214;

  --gray: #f3f7ff;
  --white: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
}

#frete{
  width: 100%;
  display: flex;
  text-align: center;
  height: 5vh;
  background-color: yellow;
  font: 500 20px "Archivo", sans-serif ;
}

#frete p{
  line-height: 5vh;
  margin: auto;
  width: 100%;
}

header{
  background: url(image/michael-jordan-tablet.jpeg.png) no-repeat left top/cover;
  height: 450px;
  width: 100%;
}

main{
  width: 90%;
  margin: auto;
}

main > h1{
  font: 500 2em "Archivo", sans-serif;
  text-align: center;
  margin: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

main > p{
  white-space: pre-line;
  width: 500px;
  font: 1.3em "Archivo", sans-serif;
  text-align: center;
  margin: 15px auto 20px auto;
}

section{
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  
  margin: auto;
  justify-content: center;
}

article{
  width: 395px;
  margin: 10px;
  
}

article:hover{
  background-color: rgba(243, 118, 118, 0.753);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.26);
  transform: translate(5px, 5px), blur(1px);
}

.jordan{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: var(--gray);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219) ;
}

article  img{
  width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description{
  font: 500 1.1em "Archivo", sans-serif;
  text-align: left;
  margin-top: 15px;
}

.ns{
  font: 500 0.9em "Archivo", sans-serif;
  color: var(--brand-color);
  text-align: left;
  margin-top: 5px;
}

.price{
  font: 600 1.2em  arial, italic;
  text-align: left;
  margin-top: 40px;
}