@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-color: #7ca2f4;

  --dark: #121214;

  --gray: #f3f7ff;
  --white: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
}

header{
  background: url(image/michael-jordan-pc.jpeg.png) no-repeat center center/cover;
  width: 100%;
  height: 40vh;
  display: none;
}

main{
  width: 90%;
  margin: auto;
  background-color: violet;
}

main > h1{
  font-family: "Archivo", sans-serif;
  text-align: center;
  margin: 10px;
}

main > p{
  width: 500px;
  font: 1.3em "Archivo", sans-serif;
  text-align: center;
  margin: 15px auto 20px auto;
}

section{
  display: flex;
  flex-flow: row wrap;
  width: 84%;
  background-color: yellowgreen;
  margin: auto;
  justify-content: center;
}

article{
  width: 350px;
  margin: 10px;
  
}

.jordan{
  width: 350px;
  height: 200px;
  background-color: var(--gray);
}

article  img{
  width: 250px;
  transform: translate(20%, 20%);
}